# Notebook for quick code testing and data processing

## Imports and general setup

In [1]:
import psycopg2 as pg2
from src.utils.pull_and_dump import pull_data_from_api, dump_to_csv, dump_to_postgres
import os
from dotenv import load_dotenv
load_dotenv()

True

In [ ]:
api_key = os.getenv('API_KEY')
pg_host = os.getenv('POSTGRESQL_HOST')
pg_user = os.getenv('POSTGRESQL_USER')
pg_pass = os.getenv('POSTGRESQL_PASSWORD')
pg_port = os.getenv('POSTGRESQL_PORT')

## Testing data extraction from API to csv files

In [2]:
url = "https://api.collegefootballdata.com/games"
params = {'year': 2022, 'seasonType': 'regular'}
test_df = pull_data_from_api(url, api_key, params)
test_df.head()

,ID,SEASON,WEEK,SEASON_TYPE,START_DATE,START_TIME_TBD,COMPLETED,NEUTRAL_SITE,CONFERENCE_GAME,ATTENDANCE,...,AWAY_CONFERENCE,AWAY_DIVISION,AWAY_POINTS,AWAY_LINE_SCORES,AWAY_POST_WIN_PROB,AWAY_PREGAME_ELO,AWAY_POSTGAME_ELO,EXCITEMENT_INDEX,HIGHLIGHTS,NOTES
0,401426532,2022,1,regular,2022-08-27T16:00:00.000Z,False,True,False,False,13688.0,...,Atlantic Sun,fcs,27.0,"[10, 7, 3, 7]",0.04572357337737354,NaN,NaN,2.6135509766,None,None
1,401405059,2022,1,regular,2022-08-27T16:30:00.000Z,False,True,True,True,NaN,...,Big Ten,fbs,28.0,"[7, 7, 14, 0]",0.45245654026480564,1636.0,1616.0,8.3493556676,None,None
2,401439512,2022,1,regular,2022-08-27T19:00:00.000Z,False,True,True,False,NaN,...,SIAC,ii,34.0,"[0, 0, 21, 13]",None,NaN,NaN,None,None,None
3,401413213,2022,1,regular,2022-08-27T19:30:00.000Z,False,True,True,False,NaN,...,Western Athletic,fcs,17.0,"[7, 10, 0, 0]",0.0011829169683287288,NaN,NaN,5.2414690984,None,FCS Kickoff
4,401413256,2022,1,regular,2022-08-27T19:30:00.000Z,False,True,False,False,19579.0,...,Big Sky,fcs,21.0,"[7, 0, 7, 7]",None,NaN,NaN,None,None,None

In [3]:
dump_to_csv(test_df, 'csv_files/test_df.csv')

In [5]:
db_params = {
    'host': 'localhost',
    'username': 'colin',
    'password': None,
    'database': 'colin',
    'port': 5432}
dump_to_postgres(test_df, db_params, 'test_table')

In [ ]:
conn = pg2.connect(database="colin",
                   user="colin",
                   host='localhost',
                        port=5432)
print(conn.host)

In [ ]:
# # Open a cursor to perform database operations
cur = conn.cursor()
cur.execute('drop table if exists datacamp_courses')
# # Execute a command: create datacamp_courses table
# cur.execute("""CREATE TABLE datacamp_courses(
#             course_id SERIAL PRIMARY KEY,
#             course_name VARCHAR (50) UNIQUE NOT NULL,
#             course_instructor VARCHAR (100) NOT NULL,
#             topic VARCHAR (20) NOT NULL);
#             """)
# # Make the changes to the database persistent
# conn.commit()
# # Close cursor and communication with the database
cur.close()
conn.close()